header {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2acb7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding-top: 120px;
}

.header-name {
  margin: 0px;
}

@media only screen and (min-width: 1024px) {

  .profile-display {
    height: 400px;
    width: 40%;
    margin-top: 200px;
    margin-left: 80px;
    padding-top: 10px;
  }

  .profile-display img {
    padding-bottom: 40px;
  }

}